@page "/"

<h1>Hello, user!</h1>

Welcome to your new CourtProcessing app!
<br />
<br />

To begin, click <b>Upload File</b> at the left side.
<br />
<br />

To view uploaded files, click <b>Uploaded Files</b> at the left side.
